
body{
background-color: #0F0F0F;
}

/* Hero Mobile*/
.container-hm{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  position: relative;


}

.img-hm{
position: relative;
z-index: 0;

}

.logo-hm{
  font-family: 'Pirata One', system-ui;
  font-size: 40vw;

  color:white;
 
  position: absolute;
  z-index: 1;
  top: 0;  
  transform: translateY(-10%);  
  
}

/* HERO*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section{
  height: 100vh;
}

.hero-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  background-color: white;
  
}
.hero{
  display: flex;
  justify-content: space-around;
  gap: 10em;
  align-items: center;
  
}

 
  

.hero h1 {
  font-family: 'Pirata One', system-ui;
  font-size: 18vw;
  line-height: .8;
  color: black;
  margin: 20px 0; 
}

.top-img{
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.right-img{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.right-img img {
  width: auto; 
  height: auto; 
  
  
  
}

.bottom-img{
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 1em;
}



 /*VERSION OLD TV*/
/* #wrapper {

  filter: grayscale(100%) brightness(93%) contrast(180%);
  display: flex;
  justify-content: center;
}
.contents {
  width: 100%; 
  height: 100vh; 
  display: flex;
  justify-content: center;
}

.contents img {
  width: 100vh;
} */


section {
  height: 100vh;
  background: #0F0F0F;
  width: 100vw;
  
}

.about {
  
  display: flex; 
  justify-content: center; 
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 320px;
  font-size: 20px;
  text-align: justify;
  padding: 1em;
  margin: 0 auto; 

height: 80vh;
 
}


.hidden-br {
  display: none;
}






.footer{

  overflow: hidden;
  background: #0F0F0F;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  width: 100%;
}

.header h1{
  text-align: center;
  color: #fff;
  font-weight: lighter;
  font-size: 6vw;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  background: rgba(255, 255,255, 0.15);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255,255, 0.25);
  border-radius: 30px;
  padding:15px 30px;
  outline: none;
  box-shadow: none;
}


.gallery{
  height: 100%;
  width: 100%;
}

.item{
  position: absolute;
  width: 200px;
  height: 275px;
}

.item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}


@media (max-width: 1200px) {
  .item {
    width: 150px;
    height: 200px;
  }
}

@media (max-width: 992px) {
  .item {
    width: 145px;
    height: 195px;
  }

}

@media (max-width: 768px) {
  .item {
    width: 115px;
    height: 140px;
  }

}

@media (max-width: 576px) {
  .item {
    width: 105px;
    height: 130px;
  }
 

}


@media (max-width: 400px) {
  .item {
    width: 105px;
    height: 130px;
padding-top: 1em;
    
  }
 
}








.mutti{
  font-family: 'Pirata One', system-ui;
  font-size: 9vw;
}


.exposant{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}


/* SEARCH PAGE*/
.container-search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
      background-image: url('https://media.vanityfair.fr/photos/60d34eb5e3c9ebe2f6522708/16:9/w_1280,c_limit/vf_slider_angela_merkel_8305.jpeg');}
  #wrapper {
    width: 100vw;
    height: 100vh;
  }
